<div class="container-fluid"
    *ngIf="clientEntity">
  <div class="row">
    <div class="col-xl-12">
      <h2>{{ clientEntity.firstName }} {{ clientEntity.lastName }}'s licenses</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <a
        mat-raised-button color="primary"
        [routerLink]="['/clients', clientEntity.id, 'licenses', 'create']">
        Create License</a>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-12">
      <mat-form-field class="w-100">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
    </div>
  </div>
    
  <div class="row responsive-table">
    <div class="col-12">
      <mat-table [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nr. </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.position }} </mat-cell>
        </ng-container>
  
        <!-- Key 1 Column -->
        <ng-container matColumnDef="k1">
          <mat-header-cell *matHeaderCellDef mat-sort-header> K1 </mat-header-cell>
          <mat-cell *matCellDef="let row" matTooltip="{{ row.k1 }}">
            {{ row.k1 | limitTo:25:"..." }}
          </mat-cell>
        </ng-container>

        <!-- Key 2 Column -->
        <ng-container matColumnDef="k2">
          <mat-header-cell *matHeaderCellDef mat-sort-header> K2 </mat-header-cell>
          <mat-cell *matCellDef="let row" matTooltip="{{ row.k2 }}">
            {{ row.k2 | limitTo:25:"..." }}
          </mat-cell>
        </ng-container>

        <!-- Start Column -->
        <ng-container matColumnDef="start">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Start </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.start | date }}
          </mat-cell>
        </ng-container>

        <!-- Expire Column -->
        <ng-container matColumnDef="end">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Expire </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.end | date }}
          </mat-cell>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.type.description }}
          </mat-cell>
        </ng-container>

        <!-- Expires in Column -->
        <ng-container matColumnDef="expires">
          <mat-header-cell *matHeaderCellDef> Expires in </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button color="{{(row.end | untilNow) == 'Expired' ? 'warn' : ''}}">
              {{ row.end | untilNow }}
            </button>
          </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="j-c-c"> Actions </mat-header-cell>
          <mat-cell *matCellDef="let row" class="j-c-e">
            <div class="button-row">
              <a [routerLink]="['/licenses', row.id, 'edit']"
                mat-raised-button color="primary"
                class="mr-1 mb-1 mt-1">
                <i class="fa fa-pencil"></i>
              </a>
              <app-modal-confirmation
                [modalConfirmationText]="'Do you really want to delete this license? This process cannot be undone!'"
                (modalAction)="deleteLicense(row.id)"></app-modal-confirmation>
            </div>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>