<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <h2>License Types</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <a
        mat-raised-button color="primary"
        routerLink="/license-types/create">
        Add license type</a>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-12">
      <mat-form-field class="w-100">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
    </div>
  </div>
  
  <div class="row responsive-table">
    <div class="col-12">
      <mat-table [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nr. </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.position}} </mat-cell>
        </ng-container>
  
        <!-- Period Days Column -->
        <ng-container matColumnDef="periodDays">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Period </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.periodDays}} </mat-cell>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="j-c-c"> Actions </mat-header-cell>
          <mat-cell *matCellDef="let row" class="j-c-e">
            <div class="button-row">
              <a [routerLink]="['/license-types', row.id, 'edit']"
                mat-raised-button color="primary"
                class="mr-1 mb-1 mt-1">
                <i class="fa fa-pencil"></i>
              </a>
              <app-modal-confirmation
                [modalConfirmationText]="'Do you really want to delete this license type? This process cannot be undone!'"
                (modalAction)="deleteLicenseType(row.id)"></app-modal-confirmation>
            </div>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>

</div>